### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv
import math
import statistics
import pandas as pd
import numpy as np

In [3]:
# Files to Load
school_data = "schools_complete.csv"
student_data = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_frame = pd.read_csv(school_data)

# Read School and Student Data File and store into Pandas Data Frames
student_frame = pd.read_csv(student_data)

# Combine the data into a single dataset
school_data_Total = pd.merge(student_frame, school_frame, how="left", on=["school_name", "school_name"])

# See as a DataFrame and check it out
data_frame = pd.DataFrame(school_data_Total)
data_frame.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:

# Task 1. District Summary
# Calculate the required variables
pass_math_frame = data_frame[data_frame["math_score"]>=70]
pass_math_frame["Student ID"].nunique()
percentage_pass_math = (pass_math_frame["Student ID"].nunique() / data_frame["Student ID"].nunique())*100
pass_reading_frame = data_frame[data_frame["reading_score"]>=70]
pass_reading_frame["Student ID"].nunique()
percentage_pass_reading = (pass_reading_frame["Student ID"].nunique() / data_frame["Student ID"].nunique())*100
percentage_overall_passing = (percentage_pass_math + percentage_pass_reading)/2
school_frame["budget"].sum()

# Creating a summary DataFrame using the values found
district_summary_frame = pd.DataFrame({
    "Total Schools":[data_frame["school_name"].nunique()],
    "Total Students" : [data_frame["Student ID"].nunique()],
    "Total Budget" : [school_frame["budget"].sum()],
    "Average Math Score" : [data_frame["math_score"].mean()],
    "Average Reading Score" : [data_frame["reading_score"].mean()],
    "% Passing Math":[percentage_pass_math],
    "% Passing Reading": [percentage_pass_reading],
    "% Overall Passing Rate":[percentage_overall_passing]})

# Formatting
district_summary_frame["Total Budget"] = district_summary_frame["Total Budget"].map("${:,.2f}".format)
district_summary_frame["% Passing Math"] = district_summary_frame["% Passing Math"].map("{:,.2f}%".format)
district_summary_frame["% Passing Reading"] = district_summary_frame["% Passing Reading"].map("{:,.2f}%".format)
district_summary_frame["% Overall Passing Rate"] = district_summary_frame["% Overall Passing Rate"].map("{:,.2f}%".format)

# Print District Summary
district_summary_frame

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [9]:
# Task 2. School Summary
grouped_schools_frame = data_frame.groupby(["school_name","type"])
total_students = grouped_schools_frame["Student ID"].count()
budget_per_school = grouped_schools_frame["budget"].max()
budget_per_student = budget_per_school/total_students
school_average_math = grouped_schools_frame["math_score"].mean()
school_average_reading = grouped_schools_frame["reading_score"].mean()
pass_math_per_school = pass_math_frame.groupby(["school_name"])
perc_pass_math = (pass_math_per_school["Student ID"].count() / grouped_schools_frame["Student ID"].count())*100
pass_reading_per_school = pass_reading_frame.groupby(["school_name"])
perc_pass_reading = (pass_reading_per_school["Student ID"].count()/grouped_schools_frame["Student ID"].count())*100
perc_overall_passing = (perc_pass_math+perc_pass_reading)/2
school_summary = pd.DataFrame({"Total Students" : total_students, 
                               "Total School Budget" : budget_per_school,
                               "Per Student Budget" : budget_per_student,
                               "Average Math Score" : school_average_math,
                               "Average Reading Score" : school_average_reading,
                               "% Passing Math" : perc_pass_math,
                               "% Passing Reading" : perc_pass_reading,
                               "Overall Passing Rate" : perc_overall_passing})

school_summary_frame = pd.DataFrame({"Total Students" : total_students, 
                               "Total School Budget" : budget_per_school,
                               "Per Student Budget" : budget_per_student,
                               "Average Math Score" : school_average_math,
                               "Average Reading Score" : school_average_reading,
                               "% Passing Math" : perc_pass_math,
                               "% Passing Reading" : perc_pass_reading,
                               "Overall Passing Rate" : perc_overall_passing})

school_summary_frame["Total School Budget"] = school_summary_frame["Total School Budget"].map("${:,.2f}".format)
school_summary_frame["Per Student Budget"] = school_summary_frame["Per Student Budget"].map("${:,.2f}".format)
school_summary_frame["% Passing Math"] = school_summary_frame["% Passing Math"].map("{:,.2f}%".format)
school_summary_frame["% Passing Reading"] = school_summary_frame["% Passing Reading"].map("{:,.2f}%".format)
school_summary_frame["Overall Passing Rate"] = school_summary_frame["Overall Passing Rate"].map("{:,.2f}%".format)


school_summary_frame

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.68%,81.93%,74.31%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,95.59%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,73.36%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,73.80%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,95.27%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.75%,80.86%,73.81%
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.51%,96.25%,94.38%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,73.50%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,73.64%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,95.27%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,73.29%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.87%,95.85%,94.86%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,95.29%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,95.20%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.33%,96.61%,94.97%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [10]:
sorted_school_summary = school_summary_frame.sort_values("Overall Passing Rate", ascending=False)

sorted_school_summary.head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.13%,97.04%,95.59%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.27%,97.31%,95.29%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.59%,95.95%,95.27%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.87%,96.54%,95.20%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
sorted_school_summary.tail(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,type,,,,,,,,
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.31%,79.30%,73.80%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.06%,81.22%,73.64%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.68%,81.32%,73.50%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.99%,80.74%,73.36%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.37%,80.22%,73.29%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [14]:
grades_per_school = data_frame.groupby(["school_name", "grade"])

grader_average_math = grades_per_school["math_score"].mean()

grader_average_reading = grades_per_school["reading_score"].mean()

grader_summary = pd.DataFrame({"Average Math Score per grade" : grader_average_math, "Average Reading Score per grade" : grader_average_reading})

grader_math = pd.pivot_table(grader_summary,values="Average Math Score per grade", index="school_name", columns="grade")
grader_math = grader_math[['9th', '10th', '11th', '12th']]
grader_math.head(15)

grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [17]:
grader_reading = pd.pivot_table(grader_summary,values="Average Reading Score per grade", index="school_name", columns="grade")
grader_reading = grader_reading[["9th", "10th", "11th", "12th"]]
grader_reading.head(15)

grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [20]:
spending_bins = [0, 585, 615, 645, 675]
range_names = ["<$585", "$585-615", "$615-645", "$645-675"]

school_summary["Spending Ranges (Per Student)"] = pd.cut(school_summary["Per Student Budget"], spending_bins, labels=range_names)


school_summary = school_summary.set_index("Spending Ranges (Per Student)")


df = school_summary.groupby(["Spending Ranges (Per Student)"])


bin_average_math = df["Average Math Score"].mean()
bin_average_reading = df["Average Reading Score"].mean()
bin_perc_pass_math = df["% Passing Math"].mean()
bin_perc_pass_reading = df["% Passing Reading"].mean()
bin_perc_overall_passing = df["Overall Passing Rate"].mean()


SbSS_summary = pd.DataFrame({"Average Math Score per School Spending" : bin_average_math,
                             "Average Reading Score per School Spending" : bin_average_reading,
                             "% Passing Math per School Spending": bin_perc_pass_math,
                             "% Passing Reading per School Spending": bin_perc_pass_reading,
                             "Overall Passing Rater per School Spending": bin_perc_overall_passing})


SbSS_summary["% Passing Math per School Spending"] = SbSS_summary["% Passing Math per School Spending"].map("{:,.2f}%".format)
SbSS_summary["% Passing Reading per School Spending"] = SbSS_summary["% Passing Reading per School Spending"].map("{:,.2f}%".format)
SbSS_summary["Overall Passing Rater per School Spending"] = SbSS_summary["Overall Passing Rater per School Spending"].map("{:,.2f}%".format)


SbSS_summary

,Average Math Score per School Spending,Average Reading Score per School Spending,% Passing Math per School Spending,% Passing Reading per School Spending,Overall Passing Rater per School Spending
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.46%,96.61%,95.04%
$585-615,83.599686,83.885211,94.23%,95.90%,95.07%
$615-645,79.079225,81.891436,75.67%,86.11%,80.89%
$645-675,76.997210,81.027843,66.16%,81.13%,73.65%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [21]:

size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary["School Size"] = pd.cut(school_summary["Total Students"], size_bins, labels=group_names)
school_summary = school_summary.set_index("School Size")


size_frame = school_summary.groupby(["School Size"])


size_average_math = size_frame["Average Math Score"].mean()
size_average_reading = size_frame["Average Reading Score"].mean()
size_perc_pass_math = size_frame["% Passing Math"].mean()
size_perc_pass_reading = size_frame["% Passing Reading"].mean()
size_perc_overall_passing = size_frame["Overall Passing Rate"].mean()


size_summary = pd.DataFrame({"Average Math Score per School Size" : size_average_math,
                             "Average Reading Score per School Size" : size_average_reading,
                             "% Passing Math per School Size": size_perc_pass_math,
                             "% Passing Reading per School Size": size_perc_pass_reading,
                             "Overall Passing Rater per School Size": size_perc_overall_passing})


size_summary["% Passing Math per School Size"] = size_summary["% Passing Math per School Size"].map("{:,.2f}%".format)
size_summary["% Passing Reading per School Size"] = size_summary["% Passing Reading per School Size"].map("{:,.2f}%".format)
size_summary["Overall Passing Rater per School Size"] = size_summary["Overall Passing Rater per School Size"].map("{:,.2f}%".format)


size_summary

,Average Math Score per School Size,Average Reading Score per School Size,% Passing Math per School Size,% Passing Reading per School Size,Overall Passing Rater per School Size
School Size,,,,,
Small (<1000),83.821598,83.929843,93.55%,96.10%,94.82%
Medium (1000-2000),83.374684,83.864438,93.60%,96.79%,95.20%
Large (2000-5000),77.746417,81.344493,69.96%,82.77%,76.36%

In [22]:

grouped_type_df = data_df.groupby(["type"])


type_average_math = grouped_type_df["math_score"].mean()
type_average_reading = grouped_type_df["reading_score"].mean()
pass_math_per_type = pass_math_df.groupby(["type"])
perc_pass_math_type = (pass_math_per_type["Student ID"].count() / grouped_type_df["Student ID"].count())*100
pass_reading_per_type = pass_reading_df.groupby(["type"])
perc_pass_reading_type = (pass_reading_per_type["type"].count()/grouped_type_df["type"].count())*100
perc_overall_passing_type = (perc_pass_math_type + perc_pass_reading_type)/2


type_summary = pd.DataFrame({"Average Math Score per Type" : type_average_math, 
                             "Average Reading Score per Type" : type_average_reading,
                             "% Passing Math per Type" : perc_pass_math_type,
                             "% Passing Reading per Type" : perc_pass_reading_type,
                             "Overall Passing Rate per Type" : perc_overall_passing_type})


type_summary["% Passing Math per Type"] = type_summary["% Passing Math per Type"].map("{:,.2f}%".format)
type_summary["% Passing Reading per Type"] = type_summary["% Passing Reading per Type"].map("{:,.2f}%".format)
type_summary["Overall Passing Rate per Type"] = type_summary["Overall Passing Rate per Type"].map("{:,.2f}%".format)


type_summary

NameError: name 'data_df' is not defined